:root {
  --color-primary: #24292e;
  --color-secondary: #883744;

  --ff-size-global: 16px;
  --ff-line-height-global: 1.429;
  --ff-h1-size: 2.125rem;
  --ff-h1-line-height: 2.2rem;

  --ff-headings: 'Alegreya', serif;
  --ff-headings-weight: 400;

  --ff-text: 'Lato', sans-serif;
  --ff-text-weight: 400;

  --global-margin: 0 5%;
  --global-padding: 0 5%;

  --grid-template-columns: 1fr;
  --grid-template-rows: auto 1fr auto;
  --grid-gap: 10px;
  --grid-template-areas: 'header' 'main' 'footer';
}
