html,
body,
#root {
  height: 100%;
}
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  grid-gap: var(--grid-gap);
  grid-template-areas: var(--grid-template-areas);
}
.header {
  grid-area: header;
}
.content {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
